// ======================== Colors ===============
$primary: #1d3557;
$secondary: #457b9d;
$skyblue: #a8dadc;
$white: #f1faee;
$danger: #e63946;

// ========================= Mapas =============================
$breakpoints: (
  "tablet": "1110px",
  "phone": "390px",
);
