.table {
  width: 95%;
  border-collapse: collapse;
  margin: 10px auto;

  &__head {
    border-collapse: collapse;
    border-bottom: 2px solid $primary;
    height: 40px;
  }

  &__body {
    tr {
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: $white;
      }
    }

    td {
      text-align: center;
      font-size: 14px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }
}
