.input {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;

  &__title {
    display: block;
    height: max-content;
    font-size: 13px;
  }

  &__input {
    margin-top: -5px;
    padding: 5px 10px;
  }

  &-error {
    label {
      color: red;
    }

    input {
      border-color: red;
    }
  }
}
